# SPDX-FileCopyrightText: 2023 Dennis Gläser <dennis.glaeser@iws.uni-stuttgart.de>
# SPDX-License-Identifier: GPL-3.0-or-later

Dennis Gläser <dennis.a.glaeser@gmail.com> <dennis.glaeser@iws.uni-stuttgart.de>
Dennis Gläser <dennis.a.glaeser@gmail.com>
