# SPDX-FileCopyrightText: 2024 Dennis Gläser <dennis.a.glaeser@gmail.com>
# SPDX-License-Identifier: MIT

Dennis Gläser <dennis.a.glaeser@gmail.com> <dennis.glaeser@iws.uni-stuttgart.de>
Dennis Gläser <dennis.a.glaeser@gmail.com>
